.maxSubHeader{
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    width:100%;
}
.flexBox{
    display: flex;
    gap: 10px;
}
.flexBox > .imageBox{
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.loginBtn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.profileImg{
    border-radius: 50%;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.profileBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.basicNavBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}




