.my-swiper {
  padding-bottom: 40px !important;
  margin-bottom: 30px;
}

.swiper-button-prev {
  left: 1rem !important;
}

.swiper-button-next {
  right: 1rem !important;
}

.carousel-fit {
  object-fit: cover !important;
}

.my-swiper-slide {
  width: 218px !important;
  height: 305px !important;
  object-fit: cover;
  background-color: #d9d9d9;
}

:root {
  --swiper-theme-color: black !important;
  --swiper-pagination-bullet-inactive-color: rgba(160, 160, 160, 1) !important;
  --swiper-pagination-bullet-width: 10px !important;
  --swiper-pagination-bullet-size: 10px !important;
  --swiper-navigation-size: 20px !important;
}

.swiper-button-prev {
  color: white;
}
.swiper-button-next {
  color: white;
}
